<h1>
  Todo List App<small> - Built with Angular</small>
</h1>


<div class="input-container">
  <input name="nextTask" (keyup.enter)="addNew()" [(ngModel)]="inputValue">
  <button class="addButton" (click)="addNew()"><i class="fa fa-plus"></i></button>
</div>

<table *ngIf="items.length !== 0">
  <tr>
    <th class="short column-id">ID</th>
    <th>Activity</th>
    <th class="short"></th>
  </tr>
  <tr *ngFor="let item of items" [class.checked]='item.finished'>
    <td class="column-id">{{item.elementId}}</td>
    <td>{{item.name}}</td>
    <td class="short">
      <button [class.check-button]='!item.finished' (click)="toggle(item.elementId)">
        <i class="fa" [class.fa-check]='!item.finished' [class.fa-minus]='item.finished'></i>
      </button>
      <button class="delete-button" (click)="delete(item.elementId)"><i class="fa fa-times"></i></button>
    </td>
  </tr>
</table>