<app-todo-list></app-todo-list>

<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyB3ybI9N1RPK_C_OD4kBBfH7x4W_XNNWm0",
    authDomain: "hello-angular-4c92a.firebaseapp.com",
    databaseURL: "https://hello-angular-4c92a.firebaseio.com",
    projectId: "hello-angular-4c92a",
    storageBucket: "hello-angular-4c92a.appspot.com",
    messagingSenderId: "33035547531"
  };
  firebase.initializeApp(config);
</script>

