/* You can add global styles to this file, and also import other style files */
body {
    max-width: 800px !important;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4f5b62;
}

footer {
    font-size: 14pt;
    padding: 12px 0px 12px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #dddddd;
    font-weight: 500;
}


@media only screen and (max-width: 768px) {
    body {
        font-size: 14pt !important;
    }

    small {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    body {
        font-size: 10pt !important;
    }
}